:root{
    --cor-de-fundo:rgb(190, 93, 109);
}
body{
    background-color: var(--cor-de-fundo);
}

img{
    width: 10%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

div{
    display: flex;
}
    

  

p{
    padding: 0px 20px;
p
}
